@charset "UTF-8";
/*全サイズ共通*/
@media screen and(min-width:1px) {
	body {
		font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
			sans-serif;
	}

	a {
		color: #303030;
		text-decoration: none;
	}

	.top_header__nav {
		text-shadow: 0 3px 2px rgba($color: #000000, $alpha: 0.5);
	}

	.top_header__nav a {
		color: #fff;
	}

	/*topスライドここから*/
	/* --- 背景の指定 ------------------------------------------- */
	.box::after {
		content: "";
		display: block;
		background-color: rgba($color: #000000, $alpha: 0.2);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.box .bgImg {
		background-color: rgba($color: #000000, $alpha: 0.5);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		animation: bgAnime 20s infinite; /* 4画像 × 各5s = 20s */
	}

	/* --- 段差で背景画像のアニメーションを実行 ----------------- */
	.box .src1 {
		background-color: rgba($color: #000000, $alpha: 0.2);
		background-image: url("../images/pic_bg.svg");
		background-repeat: no-repeat;
		background-size: cover; /* 背景の画像を指定 */
	}
	.box .src2 {
		background-color: rgba($color: #000000, $alpha: 0.2);
		background-image: url("../images/pic_bg1.svg");
		background-repeat: no-repeat; /* 背景の画像を指定 */
		animation-delay: 5s;
		background-size: cover;
	}
	.box .src3 {
		background-color: rgba($color: #000000, $alpha: 0.2);
		background-image: url("../images/pic_bg2.svg");
		background-repeat: no-repeat; /* 背景の画像を指定 */
		animation-delay: 10s;
		background-size: cover;
	}
	.box .src4 {
		background-color: rgba($color: #000000, $alpha: 0.2);
		background-image: url("../images/pic_bg3.jpeg");
		background-repeat: no-repeat; /* 背景の画像を指定 */
		animation-delay: 15s;
		background-size: cover;
	}

	@keyframes bgAnime {
		0% {
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		25% {
			opacity: 1;
		}
		30% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	.top_body {
		text-align: center;

		background-color: rgba($color: #000000, $alpha: 0.5);
		width: 100%;
		height: max-content;
		float: left;
		z-index: 1000;
	}

	/*topスライドここまで*/
}

@media screen and (min-width: 700px) {
	/* 共通部分(ヘッダーなど)*/
	$base-color: #f5f5f5;
	$text-color: #000;
	$flex: flex;

	.menu_btn {
		display: none;
	}

	body {
		margin: 75px;
	}

	header {
		display: $flex;
		letter-spacing: 0.05em;
	}

	.header__logo {
		margin: 0 20px;
		width: max-content;
		height: max-content;
		color: #000	;

	}

	.header__logo img{
		width: 50%;
	}

	.header__nav {
		position: relative;
	}

	.header__nav ul {
		margin: 37px 50px;
		display: $flex;
		list-style: none;
		position: relative;
	}

	.header__nav ul > a {
		height: 20px;
	}

	.header__nav li {
		letter-spacing: 0;
		margin: 0 15px;
	}

	.box {
		/* position   : relative; */
		/* max-width  : 400px;
		height     : 250px; */
		margin: auto;
		overflow: hidden;
		background-repeat: no-repeat;
	}

	#back_top div {
		width: 54px;
		height: 117px;
		background-image: url(https://memo0618.jp/mauve/images/images/btn_top.svg);
		position: fixed;
		right: 75px;
		bottom: 100px;
	}

	/* 共通部分ここまで */

	/* top */

	.top__center {
		background-size: cover;
		width: max-content;
		height: max-content;
		z-index: 1000;
		text-align: center;
	}

	.top_header {
		margin: 0 auto;
		z-index: 1000;
		text-align: center;
		position: absolute;
		top: 48%;
		left: 52%;
		transform: translate(-50%, -50%);
	}

	.top_header__nav ul {
		margin-top: 50px;
		list-style: none;
	}

	.top_header__nav li {
		font-size: 18px;
		margin-bottom: 25px;
	}
	//↓保留中
	// background-image: url(../images/pic_bg.jpg);background-size: cover;

	.top_body {
		text-align: center;
	}

	/* topここまで */

	/* menu */
	h1 {
		letter-spacing: 0.05em;
		font-weight: 600;
	}

	.menu_body {
		background-color: $base-color;
		text-align: center;
	}

	.menu_main__firstview {
		margin-top: 70px;
		height: 500px;
		overflow: hidden;
	}

	.menu_main__firstview img {
		width: 100%;
	}

	.menu_main__list h1 {
		text-align: center;
	}

	.menu_main__list__items {
		margin-top: 70px;
		display: inline-block;
		text-align: center;
	}

	.menu_main__list__items h1 {
		color: #855896;
	}

	.menu_main__list__items__p {
		margin-top: 25px;
	}

	.title-value dl {
		display: flex;
		justify-content: space-between;
	}
	.menu_main__list__lists {
		width: 574px;
		// height: 288px;
		padding: 16px 66px;
	}

	$glay: #707070;

	.list-left {
		border-right: solid $glay 1px;
	}

	.menu_main__list__lists__menus {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
	}
	.menu_main__list__lists__once {
		text-align: left;
		width: 442px;
		display: inline-block;
		margin-top: 49px;
		justify-content: space-between;
	}

	.menu_main__list__lists__once p {
		font-size: 16px;

		// line-height: 27px;
	}

	.menu_main__list__lists__once dt {
		width: 300px;
	}

	.menu_main__list__lists__once dd {
		text-align: right;
		color: $glay;
		margin-left: 5px;
		font-size: 13px;
		width: 370px;
		overflow: hidden;
		height: 20px;
		// line-height: 23px;
	}

	.menu_main__list__once__detail {
		margin-top: 15px;
		font-size: 13px;
		color: #3e3e3e;
	}

	.menu_small_wrapper {
		margin-top: 15px;
	}
	/* menuここまで */

	/* reservation */

	$maxWidth: 1280px;
	$bold: bold;
	$align: 20%;

	.inner {
		width: 92%;
		margin: 0 auto;
	}

	.reservation_body {
		min-width: 1280px;
		background-color: $base-color;
		font-size: 16px;
		text-align: center;
		background-color: #fff;
	}

	.reservation_main {
		text-align: center;
	}

	.reservation_body h3 {
		font-weight: $bold;
		font-size: 16px;
	}

	.warning {
		margin: 0 auto;
	}

	.warning-p {
		margin-top: 20px;

		display: inline-block;
		text-align: center;
	}

	.warning_h3 {
		text-align: center;
	}

	.warning {
		// margin-right: $align;
		margin-top: 110px;
	}

	.type {
		margin-top: 84px;
		text-align: center;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1177px;
		text-align: center;
	}

	.type__btn {
		margin: 44px 145px;
		text-align: center;
		position: relative;
	}

	.type__btn h3 {
		margin-bottom: 10px;
	}

	%input_btn {
		width: max-content;
		height: max-content;
	}

	.type__btn input {
		@extend %input_btn;
	}
	.type__btn {
		@extend %input_btn;
	}

	.type__button_tel {
		display: block;
	}

	.type__button_tel p {
		font-size: 12px;
	}

	/*reservationの予約フォームここから*/

	.form__main__once {
		text-align: left;
		display: flex;
		border: none;
		margin-bottom: 30px;
	}
	label {
		display: flex;
	}
	.form__main__ever {
		display: flex;
	}

	.form__main__labels {
		display: flex;
		text-align: center;
	}

	.form__main__labels__once {
		width: max-content;
		display: flex;
		justify-content: space-between;
	}

	.form__main__labels__once input {
		margin-top: 5px;
	}

	%form__input_desktop	 {
		background-color: #ebebeb;
		border-radius: 7px;
	}
	input {
		@extend %form__input_desktop;
	}

	select {
		@extend %form__input_desktop;
	}

	textarea {
		@extend %form__input_desktop;
		height: 189px;
	}
	/*予約フォームここまで*/
	/* reservationここまで */

	/*accessここから*/
	.access_body footer {
		text-align: center;
	}

	.access__image__img {
		text-align: center;
	}

	.access__image {
		background-image: url(https://memo0618.jp/mauve/images/pic_exterior.jpg);
		width: 100%;
		height: 535px;
		background-size: cover;
		background-position-y: -60px;
		margin-top: 70px;
	}

	.access__table {
		margin-left: auto;
		margin-right: auto;
	}

	.access__tr {
		.access__title {
			padding: 15px 25px 15px 0;
		}

		.access__text {
			padding: 15px 0 15px 25px;
		}

		.access__start {
			padding-top: 85px;
		}

		.access__finish {
			padding-bottom: 85px;
		}
	}

	.access__map {
		display: block;
		margin: 0 auto;
		width: 61.9%;
		max-width: 100%;
	}

	.access__table_res {
		display: none;
	}

	.access__map_res {
		display: none;
	}
	/*accessここまで*/
}

/*contact*/
.contact__form {
	text-align: center;
}

.contact__form h3 {
	margin-top: 100px;
}

.Form {
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

.Form-Item {
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	max-width: 436px;
	background: #eaedf2;
}

.Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 190px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	max-width: 436px;
	background: #eaedf2;
	font-size: 18px;
}

.Form-Btn {
	margin-top: 70px;
	border-radius: 6px;
	border: 1px solid;
	width: 210px;
	height: 64px;
}

.copy {
	text-align: center;
	font-size: 12px;
}
/*contactここまで*/

@media screen and (max-width: 700px) {
	/*共通部分*/
	html {
		margin: 15px;
	}
	.menu_btn {
		text-align: right;
	}
	/*ハンバーガーメニューの内部*/
	.res_header {
		display: none;
	}
	$base-color: #f5f5f5;
	$text-color: #000;
	$flex: flex;
	/*ハンバーガーメニュー内部ここまで*/

	/*共通部分ここまで*/

	/*top*/

	.header__logo {
		margin: 0 20px;
		width: 100px;
		height: 100px;
		background-image: url(https://memo0618.jp/mauve/images/img_logo.svg);
	}

	.top__center {
		margin-top: 154px;
	}
	.top__center {
		text-align: center;
	}

	.top_header {
		margin: 0 auto;
		z-index: 1000;
		text-align: center;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.top_header__nav ul {
		margin-top: 50px;
		list-style: none;
	}

	.top_header__nav li {
		font-size: 18px;
		margin-bottom: 25px;
	}

	.top_body {
		text-align: center;
	}

	.box {
		margin: auto;
		overflow: hidden;
		background-repeat: no-repeat;
	}
	/*topここまで*/

	/*menu*/

	.menu_main__firstview {
		margin-top: 100px;
		height: 162px;
		overflow: hidden;
	}

	.menu_main__firstview img {
		width: 100%;
	}

	.menu_main__list__items {
		margin-top: 71px;
	}

	.menu_main__list__items h1 {
		text-align: center;
		color: #855896;
	}

	.title-value dl {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
	}

	.menu_body footer {
		margin: 156px 0 103px 0;
	}

	footer {
		text-align: center;
	}
	/*menuここまで*/

	/*reservation*/

	.reservation_body {
		text-align: center;
	}

	.warning {
		margin-top: 59px;
		text-align: center;
	}

	.warning-p {
		margin-top: 22px;
		font-size: 14px;
		text-align: center;
		line-height: 17px;
	}

	.warning-p p {
		line-height: 17px;
	}

	.type {
		margin-top: 75px;
	}

	.type__btn {
		margin-top: 50px;
		width: 100%;
		height: 100px;
	}

	.type__btn__button {
		height: fit-content;
	}

	.type__btn a > img {
		margin-top: 15px;
	}

	.forms {
		margin-top: 70px;
	}

	.form__main {
		margin-top: 35px;
		text-align: left;
	}

	.form__main__once {
		margin-top: 27px;
		border: none;
	}

	.form__main__labels {
		display: flex;
	}

	.form__main__labels__once {
		display: flex;
	}
	.form__main__labels__once__label-left {
		margin-top: 6px;
		margin-left: 13px;
	}

	.form__main__labels__once__label-right {
		margin-top: 6px;
		margin-left: 9px;
	}

	.form__main__labels__once input {
		width: max-content;
		margin-top: 5px;
	}

	.form__main__labels__once label {
		width: max-content;
	}

	.form__main__ever {
		width: 207px;
	}

	.form__main__off {
		width: 242px;
	}

	.form__main__hand-foot {
		width: 231px;
	}

	%form__input {
		background-color: #ebebeb;
		border-radius: 7px;
		width: 100%;
		height: 24px;
	}

	input {
		@extend %form__input;
	}

	select {
		@extend %form__input;
	}

	textarea {
		@extend %form__input;
		height: 189px;
	}
	.reserve__form__submit {
		margin-top: 31px;
		margin-bottom: 108px;
		text-align: center;
		display: block;
	}

	.reservation_body footer {
		margin-bottom: 74px;
	}
	/*reservationここまで*/

	/*access*/

	.access_body {
		text-align: center;
	}

	.access__image {
		background-image: url(https://memo0618.jp/mauve/images/pic_exterior.jpg);
		background-size: cover;
		background-position-y: -20px;
		width: 100%;
		height: 162px;
		margin-top: 70px;
		display: inline-block;
	}

	.access__table {
		display: none;
		margin-left: auto;
		margin-right: auto;
	}

	.access__tr {
		display: block;
		.access__title {
			padding: 15px 25px 15px 0;
		}

		.access__text {
			padding: 15px 0 15px 25px;
		}

		.access__start {
			padding-top: 85px;
		}

		.access__finish {
			padding-bottom: 85px;
		}
	}
	.access__map {
		display: none;
	}
	.access__map_res {
		display: block;
		margin: 0 auto 73px;
		max-width: 100%;
	}

	.access__table_res {
		margin: 71px auto 49px;
		text-align: left;
	}

	.access__table_res h3 {
		margin-bottom: 9px;
		color: #838383;
		font-weight: 500;
	}

	.access__table_res p {
		margin-bottom: 16px;
	}

	/*accessここまで*/

	/* contact */
	.Form-Item {
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 16px;
		padding-bottom: 16px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.Form-Item-Input {
		margin-left: 0;
		margin-top: 18px;
		-webkit-box-flex: inherit;
		-ms-flex: inherit;
		flex: inherit;
	}
	.Form-Item-Textarea {
		margin-top: 18px;
		margin-left: 0;
		-webkit-box-flex: inherit;
		-ms-flex: inherit;
		flex: inherit;
	}
	.Form-Btn {
		margin-bottom: 110px;
	}
	/* contactここまで */
}
